<div id="<%= dom_id parse_task %>">
  <p>
    <strong>Name:</strong>
    <%= parse_task.name %>
  </p>

  <p>
    <strong>Web site:</strong>
    <%= parse_task.web_site %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= parse_task.status %>
  </p>

  <p>
    <strong>Category names:</strong>
    <%= parse_task.category_names %>
  </p>

  <p>
    <strong>Page urls:</strong>
    <%= parse_task.page_urls %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= parse_task.finish_date %>
  </p>

</div>
