<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>
<%= turbo_stream_from "log" %>

<div id="navbar">
	<%= render partial: "navbar" %>
</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-4">
			<h1>Parse tasks</h1>
			<div id="parse_tasks">
			  <% @parse_tasks.each do |parse_task| %>
				<%= render parse_task %>
			  <% end %>
			</div>
			<%= link_to "New parse task", new_parse_task_path %>
		</div>


		<div class="col-8 border-start ps-4">
			<h1> Parsing log </h1>
			<div id="log">
			</div>
		</div>
	</div>
</div>
