<%= turbo_stream_from "tasks" %>
<%= turbo_stream_from "log" %>

<div id="navbar">
	<%= render partial: "layouts/navbar", locals: { active: 2 }%>
</div>

<div class="container mt-4">
	<% if not notice.nil?%>
		<div class="alert alert-success" role="alert">
			<%= notice %>
		</div>
	<% end %>

	<% if not alert.nil?%> <div class="alert alert-danger" role="alert">
			<%= alert %>
		</div>
	<% end %>

	<div class="row">
		<div id="tasks" class="col-4 bg-primary bg-opacity-25 border border-3 rounded p-4">
			<%= render partial: "tasks", locals: { parse_tasks: @parse_tasks}%>
		</div>
		<div class="col-8 ps-4">
			<h1> Parsing log </h1>
			<div id="log">
			</div>
		</div>
	</div>
</div>
