<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= render @parse_task %>

<div>

	<% if @parse_task.status == 1 %>
		<%= link_to "Edit this parse task", edit_parse_task_path(@parse_task) %> |
		<%= button_to "Start parsing", parse_parse_task_url, method: :put %>
	<% end %>

	<%= link_to "Back to parse tasks", parse_tasks_path %>

	<% if @parse_task.status != 2 %>
		<%= button_to "Destroy this parse task", @parse_task, method: :delete %>
	<% end %>
</div>
